@charset "utf-8";
/*header*/
header .well {
	background: rgba(0,0,0,.45);
	border: 2px solid #AFC2C9;
	-webkit-box-shadow: 0 -2px 40px 2px rgba(13, 81, 121, 0.3);
	box-shadow: 0 -2px 40px 2px rgba(13, 81, 121, 0.3);
}
header .well p {
	color: #AFC2C9;
}
.navbar-header .site-title {
	color: #90543c;
}
/*menu*/
.navbar .nav>.active:first-child>a, .navbar .nav>.active:first-child>a:hover, .navbar .nav>.active:first-child>a:focus, .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {	color: #fff;
	background: #90543c;
	text-shadow: none;
	font-weight: bold;
	text-decoration: none;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
	background-color: #dab7a9;
	color: #592c1a;
	text-decoration: none;
	text-shadow: none;
}
.dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #262626;
	text-decoration: none;
	outline: 0;
	background-color: #dab7a9;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	text-decoration: none;
	background-color: #dab7a9;
}

/*midCol*/
.midCol_bcg.square {
	background: url(../../img/MidCol/midCol_ice.png) top right no-repeat;
}
.upCol1 > .upCol, .col-sm-4 .upCol1 > .box.upCol {
	background-color: #8cbbd7;
}
.upCol1 > .upCol a, .upCol1 > .upCol, .col-sm-4 .upCol1 > .box.upCol, .upCol1 > .box.upCol div.jsScoreDiv {
	color: #f6f6f6!important;
}
.upCol1 > .upCol .jsmatchcont .jsmatchseason, .upCol1 > .upCol .jsmatchdate, .upCol2 > .upCol div.scoreScrMod a, .upCol3 > .upCol div.scoreScrMod a {
	color: #37474f!important;
}
.upCol2 > .upCol, .col-sm-4 .upCol2 > .box.upCol {
	background-color: #5c8ead;
}
.upCol2 > .upCol a, .upCol2 > .upCol, .col-sm-4 .upCol2 > .box.upCol, .upCol2 > .box.upCol div.jsScoreDiv {
	color: #ECEFF1!important;
}
.upCol2 > .upCol .jsmatchcont .jsmatchseason, .upCol2 > .upCol .jsmatchdate {
	color: #37474f!important;
}
.upCol3 > .upCol, .col-sm-4 .upCol3 > .box.upCol {
	background-color: #3c7ba0;
}
.upCol3 > .upCol a, .upCol3 > .upCol, .col-sm-4 .upCol3 > .box.upCol, .upCol3 > .box.upCol div.jsScoreDiv {
	color: #eee!important;
}
.upCol3 > .upCol .jsmatchseason, .upCol3 > .upCol .jsmatchdate {
	color: #37474f!important;
}
.midMod > .box > h3 {
	color: #713720!important;
}
.mainWrapper .box .jsm_playerstat a:hover, .mainWrapper .box .jsm_playerstat a:focus, 
.mainWrapper .box .jsm_restable td a:hover, .mainWrapper .box .jsm_restable td a:focus, 
.mainWrapper .box .jsm_nextable  a:hover, .mainWrapper .box .jsm_nextable  a:focus {
	text-decoration: underline;
}
.box span.score_alone a {
	text-decoration: none!important;
}
/*signIn botton*/
.signIn ul > li:last-child a {
	background: linear-gradient(to bottom, #92c7e6, #488db5 90%);
}
.signIn ul > li:last-child a:active {
	background: #488db5;
}
/* left/right Form */
.register form .btn, .midCol > .col-xs-12.col-lg-12 form .btn, 
.rightCol .rightForm form .btn, .input-group button[name="Search"], 
.input-group button[name="Search"]:active, .leftCol .leftForm form .btn {
	box-shadow: none;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	color: #FFF;
	text-shadow: none;
	border: none;
	background: #90543c;
	border: 1px solid #90543c;
}
.input-group button[name="Search"] {
	border: 1px solid #bbb;
}
.rightCol > div, .rightBox, .rightCol > div  {
	background-color: #fff;
	color: #2e607d;
}
.rightCol > div, .leftCol > div {
	-webkit-box-shadow: 0 0 35px 1px rgba(0, 0, 0, .4);
	box-shadow: 0 0 35px 1px rgba(0, 0, 0, .4);
}
.rightCol a {
	color: #00695c;
}
.rightCol .rightForm a, .leftCol .leftForm a {
	color: #00695c;
}
.rightCol .rightForm a:hover, .leftCol .leftForm a:hover, .rightCol .rightForm a:focus, .leftCol .leftForm a:focus {
	color: #009688;
}
.scroller .jsmatchseason, .scroller .jsmatchdate {
	color: #0e522d!important;
}
.scroller .jsmatchcont .js_div_particName > a, .scroller .jsmatchcont .jsScoreDiv > a, 
.scroller .jsmatchcont table td.jsvalignmdl.jsNoWrap > * {
	color: #607d8b!important;
	border: none;
}
.rightForm .jsmatchcont .js_div_particName > a, .rightForm .jsmatchcont .jsScoreDiv > a,
.leftForm .jsmatchcont .js_div_particName > a, .leftForm .jsmatchcont .jsScoreDiv > a {
	color: #2e607d;
}
.rightMenu li a, .rightCol > div ul li a, .leftMenu li a, .leftCol > div ul li a {
	color: #0b2837;
}
.rightMenu li a:hover, .rightCol > div ul li a:hover, .leftMenu li a:hover, .leftCol > div ul li a:hover  {
	color: #3c97bb;
}
.rightBox .heading h3, .rightCol > div .heading h3, .leftBox .heading h3, .leftCol > div .heading h3 {
	color: #fff;
}
.rightCol .rightForm .heading h3, .leftCol .leftForm .heading h3 {
	color: #3c7ba0;
}
.rightCol .heading, .leftCol .heading {
	background: #3C7BA0;
	color: #fff;
}
.jsmatchcont .js_div_particName > a:hover, .jsmatchcont .jsScoreDiv > a:hover, 
.jsmatchcont .js_div_particName > a:focus, .jsmatchcont .jsScoreDiv > a:focus {
	color: #90a4ae;
	text-decoration: underline;
}
/*search*/
.form-control:focus, .form-search input[type="text"]:focus, .form-horizontal input[type="text"]:focus, 
.form-horizontal input[type="name"]:focus, .form-horizontal input[type="username"]:focus,  
.form-horizontal input[type="email"]:focus, .form-horizontal input[type="email1"]:focus, 
.form-horizontal input[type="email2"]:focus, .form-horizontal input[type="password"]:focus, 
.form-horizontal input[type="password1"]:focus, .form-horizontal input[type="password2"]:focus, 
.message > textarea:focus {
	border: 1px solid rgba(67, 134, 191, 0.5);
	box-shadow: 0 0 10px rgba(67, 151, 191, 0.3);
}
.chzn-container .chzn-results li.highlighted {
	background-color: #90543c;
	background-image: none;
}
/*footer*/
footer .footerBg {
	background: #8ab3c5;
	-webkit-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.4);
}
#to-top a {
	background: url(../../img/To-top/go-top-br.png) no-repeat 0 0 !important;
}
/*blockquoter*/
.upCol3 > .upCol .table a, .dropcap-var2::first-letter {
	color: #8f5a50;
}
blockquote {
	border-color: #8ab3c5;
}
blockquote.pull-right {
	border-color: #006553;
}
.dropcap-var1::first-letter {
	color: #337ab7;
}
/*other*/
.playerST li a, .jsmatchcont .jsmatchdate, .box .table a,  {
	color: #5c8ead;
}
/*Category Blog & Article*/
.blog .item .pull-none .img_caption > p, .blog > .items-leading > .item .pull-left.item-image .img_caption > p, .blog > .items-leading > .item .pull-right.item-image .img_caption > p,
.blog > .items-row.cols-1 > .item .pull-left.item-image .img_caption > p, .blog > .items-row.cols-1 > .item .pull-right.item-image .img_caption > p {
	background: #3c7ba0;
}
.blog .item .pull-none > a:hover .img_caption > p, .blog .item .pull-none > a:focus .img_caption > p,
.blog > .items-leading > .item .pull-left.item-image > a:hover .img_caption > p, .blog > .items-leading > .item .pull-left.item-image > a:focus .img_caption > p,
.blog > .items-leading > .item .pull-right.item-image > a:hover .img_caption > p, .blog > .items-leading > .item .pull-right.item-image > a:focus .img_caption > p,
.blog > .items-row.cols-1 > .item .pull-left.item-image > a:hover .img_caption > p, .blog > .items-row.cols-1 > .item .pull-left.item-image > a:focus .img_caption > p,
.blog > .items-row.cols-1 > .item .pull-right.item-image > a:hover .img_caption > p, .blog > .items-row.cols-1 > .item .pull-right.item-image > a:focus .img_caption > p {
	color: #bbddf1;
}
/*Sticky*/
.sticky .entry-title:before {
	color: #5c8ead;
}
@media (max-width: 990px) {
	.upCol1 > .upCol {
		background: #92c7e6;
	}
	.upCol3 > .upCol {
		background: #5c8ead;
	}
	.upCol2 > .upCol {
		background: #3c7ba0;
	}
}
@media (max-width: 768px) {
	.navbar .nav>.active:first-child>a, .navbar .nav>.active:first-child>a:hover, .navbar .nav>.active:first-child>a:focus { 
		background: #92c7e6;
	}
}

/*JoomSport custom color*/
#joomsport-container.jsSliderContainer .jsmainscroll .jscaruselcont.jsview1 li .jsMNS:before, #joomsport-container.jsSliderContainer .jsmainscroll .jscaruselcont.jsview1 li .jsMNS:after {
	background: #b3e5fc;
	background: -moz-linear-gradient(top, #b3e5fc 0%,#5c8ead 50%,#b3e5fc 100%);
	background: -webkit-linear-gradient(top, #b3e5fc 0%,#5c8ead 50%,#b3e5fc 100%);
	background: linear-gradient(to bottom, #b3e5fc 0%,#5c8ead 50%,#b3e5fc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e5fc', endColorstr='#b3e5fc',GradientType=0 );
}
#joomsport-container.jsDefaultContainer .jsview2 table tr:nth-child(3n+1) > td:before, #joomsport-container.jsDefaultContainer .jsview1 li:before {
	background: #b3e5fc;
	background: -moz-linear-gradient(left, #b3e5fc 0%,#5c8ead 50%,#b3e5fc 100%);
	background: -webkit-linear-gradient(left, #b3e5fc 0%,#5c8ead 50%,#b3e5fc 100%);
	background: linear-gradient(to right, #b3e5fc 0%,#5c8ead 50%,#b3e5fc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e5fc', endColorstr='#b3e5fc',GradientType=1 );
}