@charset "utf-8";
body,html{
	background:url(../img/ice.png) 100% 0 repeat;
	height: auto;
}
.mainWrapper {
	background: url(../img/ice-footer.png) no-repeat;
	-webkit-background-size: 70%;
	background-size: 70%;
	background-position: 100% 100%;
}
@media (max-width: 1680px) {
	.mainWrapper {
		-webkit-background-size: 85%;
		background-size: 85%;
	}
}
@media (max-width: 1280px) {
	.mainWrapper {
		-webkit-background-size: 95%;
		background-size: 95%;
	}
}
@media (max-width: 1024px) {
	.mainWrapper {
		-webkit-background-size: 100%;
		background-size: 100%;
	}
}
@media (max-width: 800px) {
	.mainWrapper {
		-webkit-background-size: 120%;
		background-size: 120%;
	}
}
@media (max-width: 600px) {
	.mainWrapper {
		-webkit-background-size: 130%;   
		background-size: 130%;
	}
}
@media (max-width: 480px) {
	.mainWrapper {
		-webkit-background-size: 110%;   
		background-size: 110%;
	}
}